@import '/src/App.scss';


.main {
    padding: 5rem 0 0;
  
    &_professor {
      &-imgbox {
        &-img {
          width: 100%;
          max-width: 415px;
          height: 100%;
          max-height: 415px;
        }
      }
  
      &-txtbox {
        margin-top: 2rem;
  
        &-name {
          font-size: 24px;
          font-weight: 700;
          line-height: 33px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0;
          margin: 0;
        }
  
        &-job {
          font-size: 24px;
          font-weight: 300;
          line-height: 33px;
          letter-spacing: 0em;
          text-align: left;
          color: $darkGreyText;
          padding: 0;
          margin: 0;
        }
      }
    }
  
    &_speech {
      &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
      }
  
      &-underline {
        height: 15px;
        background: $orange;
        margin: -23px 0 25px -5px;
      }
  
      &-txt {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: $darkFooter;
  
        &-span {
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
  
    &_bigTxt {
      width: 100%;
      max-width: 100%;
      margin-top: 10rem;
      margin-bottom: -3px;
    }
  }
  
  .news_section {
    width: 100%;
    background: $dark;
    padding: 5rem 0 2rem;
    border-bottom: 1px solid $darkGreyText;
  
    &_titlebox {
      &-title {
        font-size: 80px;
        font-weight: 700;
        line-height: 111px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-transform: uppercase;
      }
  
      &-underline {
        width: 55%;
        height: 15px;
        background: $orange;
        margin: -45px 0 5rem -5px;
      }
    }
  
    &_cardbox {
      &-card {
        margin: 2rem 0;
  
        &-img {
          width: 100%;
          height: 100%;
          max-width: 400px;
          max-height: 300px;
          margin-bottom: 2rem;
        }
  
        &-txtbox {
          color: white;
  
          &-date {
            text-transform: uppercase;
  
            .bi {
              color: $orange;
            }
  
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
  
            &-span {
              color: $lightBlue;
            }
          }
  
          &-title {
            font-size: 30px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
          }
  
          &-txt {
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: $lightGreyText;
          }
  
          &-link {
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
            color: $lightBlue;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  
  .miniNews_section {
    background: $dark;
    padding: 3rem 0;
    color: white;
  
    &_titlebox {
      margin-bottom: 2rem;
  
      &-title {
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
      }
    }
  
    &_cardbox {
  
      &-card {
        display: flex;
        align-items: center;
        margin: 2rem 0;
  
        &-datebox {
          width: 120px;
          height: 120px;
          background: $orange;
          padding: 5px;
          margin-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          &-pos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
  
            &-date {
              font-size: 36px;
              font-weight: 700;
              line-height: 36px;
              letter-spacing: 0em;
              text-align: left;
              padding: 0;
              margin: 0;
            }
  
            &-month {
              font-size: 24px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              padding: 0;
              margin: 0;
              text-transform: uppercase;
            }
  
            &-year {
              font-size: 18px;
              font-weight: 700;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              padding: 0;
              margin: 0;
            }
          }
        }
  
        &-textbox {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          &-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
          }
  
          &-link {
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
            color: $lightBlue;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
  
  .statistics_section {
    background: $lightBlue;
    padding: 3rem 0;
    color: white;
    display: flex;
    justify-content: center;
  
    &_cardbox {
      &-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        &-amount {
          font-size: 100px;
          font-weight: 700;
          line-height: 139px;
          letter-spacing: 0em;
          text-align: left;
        }
  
        &-underline {
          width: 100%;
          max-width: 170px;
          height: 15px;
          background: $orange;
          margin: -50px 0 2rem;
        }
  
        &-text {
          font-size: 36px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          text-transform: uppercase;
  
          &-span {
            color: $dark;
          }
        }
      }
    }
  }
  
  .stories_section {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
  
    &_iframebox {
  
      &-iframe {
        max-width: 100%;
      }
    }
  
    &_textbox {
      &-titlebox {
        margin: 3rem 0;
  
        &-title {
          font-size: 80px;
          font-weight: 700;
          line-height: 78px;
          letter-spacing: 0em;
          text-align: left;
          text-transform: uppercase;
        }
      }
  
      &-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: $darkGreyText;
        margin: 3rem 0;
      }
  
      &-link {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: $lightBlue;
        margin: 0;
        padding: 0;
  
        &-span {
          color: $black;
        }
      }
    }
  }
  
  .partners_section {
    width: 100%;
    padding: 4rem 0;
    background: #F4F4F4;
  
    &_titlebox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 2rem 0;
  
      &-title {
        font-size: 80px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
  
        &-underline {
          background: $orange;
          width: 100%;
          height: 15px;
          margin-top: -20px;
        }
      }
  
    }
  
    &_partnerbox {
      &-img {
        opacity: 1;
      }
    }
  }
  